$textFont: "Open Sans", Arial, sans-serif;
$titleFont: "Montserrat", Arial, sans-serif;

$primaryColor: DodgerBlue;


$textColor: #444;
$linkColor: darkblue;
$titleColor: $primaryColor;


$borderColor: $primaryColor;
$background: GhostWhite;


$separator: black;

$blockquoteBackground: #fff;
$blockquoteBorder: $primaryColor;
